body {
  height: 3000px;
}

.sidebar-1 {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;

  width: 70px;

  background-color: #202225;

  padding-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.sidebar-1 img {
  width: 45px;
  height: 45px;

  object-fit: cover;

  border-radius: 50%;
}


.sidebar-2 {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 70px;

  width: 150px;

  background-color: #2f3136;

  padding: 15px;
}

.server-name {
  color: white;
  font-weight: bold;

  margin-bottom: 20px;
}

.channel {
  color: #b9bbbe;

  margin-bottom: 15px;
}