.tweet {
  display: flex;
  width: 500px;
}

.profile {
  width: 50px;
  margin-right: 10px;
}

.profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.tweet-content {
  flex: 1;
}

.user-info {
  margin-bottom: 5px;
}

.user-info span {
  color: gray;
}

.tweet-text {
  margin-bottom: 15px;
}

.youtube {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 15px;
  overflow: hidden;
}

.youtube-image {
  width: 100px;
  background-color: lightgray;
}

.youtube-info {
  padding: 12px;
  flex: 1;
}

.youtube-site {
  color: gray;
  margin-bottom: 5px;
}

.youtube-title {
  line-height: 20px;
}